<h5>Job-Finder</h5>
<p-fieldset legend="Job-Recommendation" [toggleable]="true">
    <div class="field">
        <label for="a1" class="block">A1</label>
        <input id="a1" type="username"  pInputText />
    </div>
    <div class="field">
        <label for="a2" class="block">A2</label>
        <input id="a2" type="username"  pInputText />
    </div>
    <div class="field">
        <label for="a3" class="block">A3</label>
        <input id="a3" type="username"  pInputText />
    </div>
    <div class="field">
        <label for="a4" class="block">A4</label>
        <input id="a4" type="username"  pInputText />
    </div>
    <div class="field">
        <label for="a5" class="block">A5</label>
        <input id="a5" type="username"  pInputText />
    </div>
    <div class="field">
        <label for="tweets" class="block">Tweets</label>
        <input id="tweets" type="username"  pInputText />
    </div>
</p-fieldset>